/* TEXT */

h1 {
  font-family: var(--display-font);
  color: var(--main-color);
}

h2,
h3 {
  font-family: var(--title-font);
  color: var(--main-color);
  margin-bottom: 0.5rem;
}

p {
  color: var(--main-color);
  font-family: var(--body-font);
  font-weight: lighter;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  opacity: 0.7;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

nav li,
nav a {
  font-family: var(--title-font);
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.logo {
  font-family: var(--display-font);
  font-size: 3rem;
  color: white;
}

/* MAIN */

.container {
  max-width: 1300px;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

.container img {
  max-width: 500px;
  max-height: 80vh;
  object-fit: cover;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem 1rem;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

/* CATEGORIES */

.seasons {
  grid-column: 1 / 5;
  background-color: var(--main-bg-color);
  padding: 1rem 0 2rem;
}

.seasons h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.seasons ul {
  display: flex;
  justify-content: space-evenly;
}

.seasons li {
  font-family: var(--title-font);
  font-size: 2rem;
}

.category img {
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.category ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}

.category li {
  font-size: 1.25rem;
}

/* PRODUCT */

.product_card {
  border: lightgray solid 1px;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
}

.product_card a {
  display: block;
  height: 100%;
}

.product_card .actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.item_info {
  order: 1;
  padding: 5rem 1rem;
}

.item_overview {
  padding: 1rem 0;
}

.price_display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h3.price {
  text-transform: uppercase;
  font-weight: bolder;
}

h3.discount {
  font-weight: lighter;
  text-decoration: line-through;
}

h3.before_discount {
  font-weight: lighter;
  text-decoration: line-through;
}

.hide {
  display: none;
}

p.discount_percentage {
  font-style: italic;
  color: white;
  background-color: var(--primary-color);
  padding: 0 0.5rem;
}

h3.not_discounted,
p.not_discounted {
  display: none;
}

.item_info .actions {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 0;
}

.item_options {
  font-family: var(--body-font);
}

.item_options li {
  font-weight: bold;
}

.item_options .size {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#size {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  color: var(--main-color);
}

.item_options span {
  font-weight: lighter;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.buy {
  background-color: var(--accent-color);
  width: 100%;
  max-width: 500px;
  padding: 1rem 2rem;
  color: white;
  font-family: var(--title-font);
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

button.buy:hover {
  opacity: 0.8;
}

button.sold_out {
  background-color: rgb(212, 212, 212);
  pointer-events: none;
}

button.save {
  color: var(--secondary-color);
  margin: 0 1rem;
}

.product_card button.save {
  font-size: 1.5rem;
}

.item_info button.save {
  font-size: 2.5rem;
}

button.save:hover {
  color: var(--primary-color);
}
